.our-team {
  h2 {
    text-align: center;
  }
  a,
  a:hover {
    color: inherit;
  }
  .team-members {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
  }
  .member {
    text-align: center;
    margin: 1rem;
    padding: 1rem 0;
    width: calc(50% - 2rem);
    @include from(700px) {
      width: calc(33% - 2rem);
    }
    box-shadow: $default-shadow;
    border-radius: 0.5rem;
    img {
      border-radius: 50%;
      width: 55%;
      padding: 1.5rem 0;
    }
    // transform: scale(0.9);
    transition: all 200ms;
    &:hover {
      transform: scale(1.1) rotate(-1deg);
      color: $bookr-orange;
    }
  }
  .name {
    font-family: $family-secondary;
    font-size: 1.2rem;
    font-weight: bold;
  }
  .role {
    font-weight: bold;
  }
}
